version: 2.1
orbs:
  python: circleci/python@1.5.0
executors:
  docker-publisher:
    environment:
      IMAGE_NAME: conint_backend
      docker: # Each job requires specifying an executor (either docker, macos, or machine), see
      — image: circleci/python:latest
      auth:
      username: $DOCKERHUB_USERNAME
      password: $DOCKERHUB_PASSWORD

jobs:
  build-and-test:
    docker:
      - image: cimg/python:3.10.2
    steps:
      - checkout
      - python/install-packages:
          pkg-manager: pip
      - run: pip install coverage
      - run:
          name: Run tests
          working_directory: ~/project/tests/
          environment:
            PYTHONPATH: /home/circleci/project/
          command: python -m unittest discover -p "tests.py"
      - run:
          name: Create coverage Report
          working_directory: ~/project/tests/
          environment:
            PYTHONPATH: /home/circleci/project/
          command: coverage run -m unittest tests.py
      - run:
          name: Output Report
          working_directory: ~/project/tests/
          environment:
            PYTHONPATH: /home/circleci/project/
          command: coverage report

  lint:
    docker:
      - image: cimg/python:3.10.2
    steps:
      - checkout
      - python/install-packages:
            pkg-manager: pip
      - run: pip install --user pylint
      - run:
          name: Run lint
#          working_directory: ~/project/src
#          environment:
#            PYTHONPATH: /home/circleci/project/
          command: pylint -rn src --disable=missing-docstring

    deploy:
      executor: docker-publisher
        steps:
        — checkout
        — setup_remote_docker
        — run:
        name: Publish Docker Image to Docker Hub
        command: |
        echo “$DOCKERHUB_PASSWORD” | docker login -u “$DOCKERHUB_USERNAME” — password-stdin
        docker build -t $IMAGE_NAME .
        docker push $IMAGE_NAME:latest

workflows:
  backend:
    jobs:
      - lint
      - build-and-test:
          requires:
            - lint
      - deploy:
          requires:
            - lint
            - build-and-test
